.timer__desk {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.timer__desk-title-period-date {
    font-weight: 800px;
}

.timer__desk-title-toend {
    font-weight: 600px;
}




.timer__desk-timebox-row {

    display: flex;
    justify-content: space-between;
}

.timer__desk-timebox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer__desk-timebox-time {
    padding: 20px;
    color: black;
    background-color: white;
    border-radius: 5px;
}

.timer__desk-timebox-title {
    color: gray;
    font-size: 80%;
}




.timer__desk-test-info {
    color: red;
    margin-bottom: 30px;
}