header {
    /* border: 1px solid black; */
    background-color: #FFFFFF;
}

.header__menu {
    display: flex;
    justify-content: space-around;
}

.header__menu-item {
    display: block;
    list-style: none;

}

.header__menu-item-title {
    text-decoration: none;
    /* text-transform: uppercase; */
}

.header__menu-item:hover {
    cursor: pointer;
}